<p-toast position="top-right"></p-toast>
<block-ui>
  <div class="p-grid p-fluid">

    <div class="card">
      <p-toolbar styleClass="sm:col-12">
        <ng-template pTemplate="left">
          <button pButton label="Adicionar novo usuário" icon="pi pi-plus" class="p-button-success" routerLink="add"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton label="Voltar" icon="pi pi-home" class="p-button-info" routerLink="/"></button>
        </ng-template>
      </p-toolbar>
    </div>

    <p-table [value]="pessoas" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Contato</th>
          <th>Tipo</th>
          <th>Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoas>
        <tr>
          <td>{{pessoas.id}}</td>
          <td>{{pessoas.nome}}</td>
          <td>{{pessoas.email}}</td>
          <td>{{pessoas.cpf}}</td>
          <td>{{pessoas.numero}}</td>
          <td>{{exibeTipo(pessoas)}}</td>
          <td>
            <div class="grid">
              <div class="sm:col-6">
                <button pButton type="button" label="Excluir" icon="pi pi-times" class="p-button-danger" (click)="confirm(pessoas.id)"></button>
              </div>
              <div class="sm:col-6">
                <button pButton type="button" label="Editar" icon="pi pi-pencil" class="p-button-warning" (click)="editar(pessoas.id)"></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="7">
            Não há nenhum registro.
        </tr>
      </ng-template>
    </p-table>
  </div>
</block-ui>

<p-dialog [(visible)]="display">
  <div class="p-grid p-fluid">
    <block-ui>
      <div class="sm:col-12 grid text-800">
        <div class="sm:col-12">
        <span>
          <label for="nome">Nome*:</label>
          <input id="nome" type="text" [(ngModel)]="pessoa.nome" pInputText>
        </span>
        </div>
        <div class="sm:col-12">
        <span>
          <label for="email">Email*:</label>
          <input id="email" type="email" [(ngModel)]="pessoa.email" pInputText>
        </span>
        </div>
        <div class="sm:col-12 grid">
          <div class="sm:col-6">
          <span>
            <label for="senha">Senha*:</label>
            <p-password id="senha" [(ngModel)]="pessoa.senha" [feedback]="false" [toggleMask]="true"></p-password>
          </span>
          </div>
          <div class="sm:col-6">
          <span>
            <label for="numero">Número*:</label>
            <p-inputMask mask="(99) 9-9999-9999" [(ngModel)]="pessoa.numero" id="numero"></p-inputMask>
          </span>
          </div>
        </div>
        <div class="sm:col-12 grid">
          <div class="sm:col-6">
          <span>
            <label for="cpf">CPF*:</label>
            <p-inputMask mask="999.999.999-99" [(ngModel)]="pessoa.cpf" id="cpf"></p-inputMask>
          </span>
          </div>
          <div class="sm:col-6">
          <span>
            <label for="tipo">Tipo*:</label>
            <p-dropdown id="tipo" [options]="tipos" [(ngModel)]="tipo" optionLabel="nome"></p-dropdown>
          </span>
          </div>
        </div>

        <div class="sm:col-4">
          <button pButton type="button" label="Cancelar" icon="pi pi-home" class="p-button-danger" (click)="cancelar()"></button>
        </div>
        <div class="sm:col-4">
          <button pButton type="reset" label="Limpar" icon="pi pi-trash" class="p-button-warning" (click)="limpar()"></button>
        </div>
        <div class="sm:col-4">
          <button pButton type="submit" label="Salvar" icon="pi pi-save" class="p-button-success" (click)="salvar()"></button>
        </div>

      </div>
    </block-ui>
  </div>
</p-dialog>

<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
