<p-toast position="top-right"></p-toast>
<block-ui>
  <div class="p-grid p-fluid">

    <div class="card">
      <p-toolbar styleClass="sm:col-12">
        <ng-template pTemplate="left">
          <button pButton label="Adicionar novo serviço" icon="pi pi-plus" class="p-button-success" routerLink="add"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <button pButton label="Voltar" icon="pi pi-home" class="p-button-info" routerLink="/"></button>
        </ng-template>
      </p-toolbar>
    </div>

    <p-table [value]="servicos" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Descrição</th>
          <th>Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-servicos>
        <tr>
          <td>{{servicos.id}}</td>
          <td>{{servicos.nome}}</td>
          <td>{{servicos.preco | currency: 'BRL'}}</td>
          <td>{{servicos.descricao}}</td>
          <td>
            <div class="grid">
              <div class="sm:col-6">
                <button pButton type="button" label="Excluir" icon="pi pi-times" class="p-button-danger" (click)="confirm(servicos.id)"></button>
              </div>
              <div class="sm:col-6">
                <button pButton type="button" label="Editar" icon="pi pi-pencil" class="p-button-warning" (click)="editar(servicos.id)"></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</block-ui>

<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-dialog [(visible)]="display">
  <div class="p-grid p-fluid">
    <block-ui>
      <div class="sm:col-12 grid text-800">
        <div class="sm:col-12">
          <span>
            <label for="nome">Nome*:</label>
            <input id="nome" type="text" [(ngModel)]="servico.nome" pInputText>
          </span>
        </div>
        <div class="sm:col-12">
          <span>
            <label for="email">Descrição:</label>
            <textarea id="email" type="text" [rows]="5" [(ngModel)]="servico.descricao" pInputTextarea></textarea>
          </span>
        </div>
        <div class="sm:col-12">
          <span>
            <label for="preco">Preço*:</label>
            <p-inputNumber [(ngModel)]="servico.preco" id="preco"></p-inputNumber>
          </span>
        </div>

        <div class="sm:col-4">
          <button pButton type="button" label="Cancelar" icon="pi pi-home" class="p-button-danger" (click)="cancelar()"></button>
        </div>
        <div class="sm:col-4">
          <button pButton type="reset" label="Limpar" icon="pi pi-trash" class="p-button-warning" (click)="limpar()"></button>
        </div>
        <div class="sm:col-4">
          <button pButton type="submit" label="Salvar" icon="pi pi-save" class="p-button-success" (click)="salvar()"></button>
        </div>

      </div>
    </block-ui>
  </div>
</p-dialog>
