<p-toast position="top-right"></p-toast>
<div class="p-grid p-fluid">
  <block-ui>
    <div class="sm:col-12 grid text-800">
      <div class="sm:col-6">
        <span>
          <label for="inicio">Inicio*:</label>
          <p-calendar
            [showTime]=true
            hourFormat="24"
            [showIcon]="true"
            [dateFormat]="'dd/mm/yy'"
            id="inicio"
            [(ngModel)]="agenda.inicio">
          </p-calendar>
        </span>
      </div>
      <div class="sm:col-6">
        <span>
          <label for="fim">Fim*:</label>
          <p-calendar
            [showTime]=true
            hourFormat="24"
            [showIcon]="true"
            [dateFormat]="'dd/mm/yy'"
            id="fim"
            [(ngModel)]="agenda.fim">
          </p-calendar>
        </span>
      </div>
      <div class="sm:col-12">
        <span>
          <label for="servico">Serviço*:</label>
            <p-dropdown
              id="servico"
              [options]="servicos"
              [(ngModel)]="servicoSelecionado"
              optionLabel="nome">
            </p-dropdown>
        </span>
      </div>

      <div class="sm:col-4">
        <button pButton type="button" label="Cancelar" icon="pi pi-home" class="p-button-danger" (click)="cancelar()"></button>
      </div>
      <div class="sm:col-4">
        <button pButton type="reset" label="Limpar" icon="pi pi-trash" class="p-button-warning" (click)="limpar()"></button>
      </div>
      <div class="sm:col-4">
        <button pButton type="submit" label="Salvar" icon="pi pi-save" class="p-button-success" (click)="salvar()"></button>
      </div>

    </div>
  </block-ui>
</div>
