<div class="p-grid p-fluid">

  <p-table [value]="horarios" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Início</th>
        <th>Fim</th>
        <th>Serviço</th>
        <th>Cliente</th>
        <th>Contato</th>
        <th>Opções</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-horarios>
      <tr>
        <td>{{horarios.inicio | date:'dd/MM/yy, HH:mm'}}</td>
        <td>{{horarios.fim | date:'dd/MM/yy, HH:mm'}}</td>
        <td>{{horarios.servico.nome}}</td>
        <td>{{horarios.pessoa.nome}}</td>
        <td>{{horarios.pessoa.numero}}</td>
        <td>
          <div class="grid">
            <div class="sm:col-12">
              <button pButton type="button" label="Macar como concluído" icon="pi pi-check-square" class="p-button-info" (click)="buscarServico(horarios.id)"></button>
            </div>
          </div>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="6">
          Não há nenhum registro.
      </tr>
    </ng-template>
  </p-table>
</div>
